---
title: Matt Wilkinson
layout: layouts/home.njk
description: Hi, this is my personal website and might become a blog if I feel like writing.
image: https://og-image.vercel.app/Matt%20Wilkinson.png
date: Last Modified
---

<p>
  Hi, this is my personal website and might become a blog if I feel like writing.
  We'll see how it goes.
  <br><br>

  I'm currently a Software Engineer at Google.
  <br>
  I graduated from American University with a degree in Computer Science in 2021.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>